<!DOCTYPE html>
<html>
<title>Donate Up!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<script type="text/javascript">
	function dataLoad(){
 var email = '{{ data.email }}';
 var name = '{{ data.name }}';
 document.getElementById("input-email").value = email;
 document.getElementById("input-name").value = name;
	}
</script>
<body onload="dataLoad()" style="background-color: #FFD84E;">
<header>
  <div class="container-fluid">
    <nav class="navbar"> <!--Use the .css page to adjust this.-->
      <a href="#home" class="w3-bar-item w3-button w3-wide" style="font-size:25px;"> <b>DonateUp</b> + Paypal</a>
        <button class="btn btn-primary" onclick="document.location='DonateUp_home.html'">Home</button>
        <button class="btn btn-primary" onclick="document.location='DonateUp_AboutUs.html'">About Us</button>
        <button class="btn btn-primary" onclick="document.location='DonateUp_MyProfile.html'">My Profile </button>
    </nav>
  </div>
</header>
<br>
<br>
<br>
<br>
<!-- Mid contaier and row with txt and photo-->
<div class="container-fluid">
<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-6" >

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img src="img/website img.png" width="200" height="160" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
	<form action="/updateProfile" method="POST">
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <button class="btn btn-sm btn-info mr-4" type='submit'>Update Profile</button>
            <a href="#" class="btn btn-sm btn-default float-right">Settings</a>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
             
          </div>
          <div class="text-center">
            <h3>
              Cyber Success<span class="font-weight-light">, 21</span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i> Boulder, Colorado
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Computer Sceince - SoftDev
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>University of Colorado at Boulder
            </div>
            <hr class="my-4">
            <p>Thank you for joining DonateUp. Here is your account!</p>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
            
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
            <!--  
                <div class="col-lg-6">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-username">Username</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" value="CyberSuccess">
                  </div>
                </div>
	    -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email address</label>
                    <input type="email" name="input-email" id="input-email" class="form-control form-control-alternative" value="example@example.com">
	
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-name">Name</label>
                    <input type="text" name="input-name" id="input-name" class="form-control form-control-alternative" placeholder="Name" value="Cyber">
                  </div>
                </div>
            <!--  
                <div class="col-lg-6">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-last-name">Last name</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name" value="Success">
                  </div>
                </div>
              </div>
	    -->
            </div>
	    </form>
            <hr class="my-4">
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="At Home" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-city">City</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City" value="Boulder">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-country">Country</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="Country" value="United States">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Postal code</label>
                    <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="80303">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4">


<!-- Footer -->
<footer class="w3-center w3-padding-64">
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <div>
    <p>
        <script>
            var today = new Date();
            document.write(today.toDateString());
        </script>
    </p>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
 
<script src="DonateUp_script.js"></script>
</body>
</html>
