<!DOCTYPE html>
<html>
  <head>
    <title>Donate Up!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="static/DonateUp_style.css"> <!--This is the link to the style.css-->
  </head> 
<body>
  <header>
    <div class="container-fluid">
      <nav class="navbar"> <!--Use the .css page to adjust this.-->
        <a href="#home" class="w3-bar-item w3-button w3-wide" style="font-size:25px;"> <b>DonateUp</b> + Paypal</a>
          <button class="btn btn-primary" onclick="document.location='DonateUp_home'">Home</button>
          <button class="btn btn-primary" onclick="document.location='DonateUp_AboutUs'">About Us</button>
          <button class="btn btn-primary" onclick="document.location='DonateUp_MyProfile'">My Profile </button>
          <button class="btn btn-primary" onclick="openModal()">Sign-in/Log-in</button> 
      </nav>
    </div>
  </header>

  <!------------------------------------------------------animated modal------------------------------------------------->
  <div id="modal-window"  class="shadow">
    <div class="main-modal">
      <h1>Sign-up/Log-in</h1>
      <span class="brmedium"></span>
      <form action="/login" method="POST">
          <fieldset>
            <label for="fname">Email:</label><br>
            <input type="text" name="email" placeholder="Email"><br>
            <label for="lname">Password:</label><br>
            <input type="password" name="pwd" placeholder="Password"><br><br>
          </fieldset>
      <div class="container-fluid" align="center">
        <button class="modalButtons buttonCorner" type='submit'>
          Log-in
        </button>
        </form>
      <button class="modalButtons buttonCorner" formmethod="GET" formaction="/DonateUp_signup">
          signup
        </button>
      <button class="modalButtons buttonCorner" formmethod="GET" formaction="/" onclick="closeM()">
        Cancel
      </button>
      </div>
      <br/>
      <p class="modalColor" id="changeTextColor">Forgot password</p>
    </div>
  </div>

  <script>

  let ini= document.querySelector('#modal-window');
  ini.classList.add("hideModal");
  </script>
<br>
<br>
<br>
<br>
<!-- Mid contaier and row with txt and photo-->
<div class="container-fluid">
<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-6" >
        <h3 style="font-size:70px;"><b>Donating,</b></h3>
        <h3 style="font-size: 70px;"><b>Made Simple</b></h3>
        <p style="font-size: 20px;">-Loved by everyone</p>
        <p style="color:#887F7F">
            Donate Up, the effortless way to build charity into your digital life. Make a difference starting today!
        </p>
        <!-- BUTTON FOR DOWNLOAD-->
        <br>
        <br>
        <div class="co-sm-6">
          <form action="https://www.paypal.com/donate" method="post" target="_top">
              <input type="hidden" name="business" value="GL4TYB2U82X66" />
              <input type="hidden" name="item_name" value = "St Jude!">
              <input type="hidden" name="currency_code" value="USD" />
              <input type="hidden" name="amount" id="cost" value="0"/>
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
              <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" onload="costCalc()" />
              </form>
            </div>
      <div class="row" >
      </div>
    </div>
   <!-- spacing col-sm-4 for better alignment of next div-->
    <div class="col-sm-4">
    </div>
     <!-- side image of coins etc-->
    <div class="col-sm-5">
        <div class="card">
        <img class="card-img-bottom" style="width:80%" src="static/img/homepageflair.jpg" alt="helping hand img">
        </div>
    </div>
    
</div>

</div>



<!-- Footer -->
<footer class="w3-center w3-padding-64">
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <div>
    <p>
        <script>
            var today = new Date();
            document.write(today.toDateString());
        </script>
    </p>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
 
<script>
  function buttonOver(x){
    x.classList.remove('btn-secondary');
    x.classList.add('btn-primary');
    x.style.color="#FFEDAD";
  }
  
  // function for onmouse out over button
  function normalButton(x){
    x.classList.remove('btn-primary');
    x.classList.add('btn-secondary');
    x.style.color="black";
  }
  // Toggle between showing and hiding the sidebar when clicking the menu icon
  var mySidebar = document.getElementById("mySidebar");
  
  function w3_open() {
    if (mySidebar.style.display === 'block') {
      mySidebar.style.display = 'none';
    } else {
      mySidebar.style.display = 'block';
    }
  }
  
  // Close the sidebar with the close button
  function w3_close() {
      mySidebar.style.display = "none";
  }
  
  /*toggle between hiding and showing the dropdown content */
  function sign_up_button() {
    document.getElementById("myDropdown").classList.toggle("show");
  }
  
  
    function costCalc(){
        document.getElementById("cost").value = 0;
    }

    //-------------------------------------animated modal-------------------------------------------------

function openModal(){
  let modal= document.querySelector('#modal-window');
  modal.classList.add("showModal");
  
}

function closeM(){

    let m= document.querySelector('#modal-window');
  m.classList.remove("showModal");
  
}
</script>
</body>
</html>
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About

